:root {
    --primary-color: #4285f4;
}

* {
    box-sizing: border-box;
}

body,
textarea,
input {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    color: #333;
    margin: 0;
}

main {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 8px 64px;
}

header {
    background: #424242;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
    padding: 0 16px;
    min-height: 56px;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

h1 {
    font-size: 32px;
    padding: 32px 0 0;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px;
    padding: 32px 0 0;
}

x-subtitle {
    display: block;
    margin-bottom: 56px;
    font-size: 18px;
    opacity: 0.7;
    line-height: 24px;
}

textarea,
input,
select {
    padding: 8px;
}

textarea {
    height: 80px;
    resize: none;
    resize: vertical;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
    border: none;
    outline: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    margin: 8px 0;
    padding: 0 16px;
    box-sizing: border-box;
    min-height: 40px;
    width: 100%;
    max-width: 260px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background: var(--primary-color);
    color: white;
    transition: transform 200ms;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-rendering: optimizeLegibility;
    color: rgba(255, 255, 255, 0.85);
}

a {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 13px;
}

summary {
    margin-bottom: 16px;
    font-size: 13px;
}

label {
    font-size: 15px;
}

pre {
    overflow-x: scroll;
    padding: 40px 0;
}


.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    max-width: 100%;
    word-break: break-word;
}

.item:before {
    content: attr(label);
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 2px;
}

.item:empty{
    display: none;
}

[hidden] {
    display: none !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.row>* {
    margin-right: 40px;
}

.row>*:last-child {
    margin-right: 0;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.row-reverse>* {
    margin-left: 24px;
}

.error:empty {
    display: none;
}

.error:not(:empty):before {
    content: 'Error: ';
}

.error {
    margin: 16px 0;
    color: red;
    font-size: 20px;
    white-space: pre-wrap;
    word-break: break-word;
}

.warning {
    border: 2px solid #FF9800;
    border-radius: 8px;
    padding: 24px;
    margin-top: 64px;
}

wallet-selector>select {
    width: 100%;
}